app-payment {
    ul {
        > li {
            margin-bottom: 2rem;

            &:first-child {
                h3 {
                    display: flex;
                    justify-content: space-between;
                    color: #c9c9cc;

                    strong {
                        font-weight: 400;
                        color: #ffffff;
                    }
                }
            }

            &.terms {
                max-height: 10rem;
                overflow: auto;

                padding: 1rem;
                background-color: #555555;

                border-radius: 0.25rem 0.25rem 0 0;
                border-bottom: 1px solid #c9c9cc;

                &::-webkit-scrollbar {
                    display: none;
                }

                p {
                    color: #c9c9cc;
                }
            }

            &.agreeWithTerms {
                display: flex;
                justify-content: flex-end;
            }
        }
    }
}

app-root {
    &.theme-light {
        app-payment {
            ul {
                > li {
                    &:first-child {
                        h3 {
                            color: #5e5e5e;

                            strong {
                                color: #3f51b5;
                            }
                        }
                    }

                    &.terms {
                        background-color: #e8e8e8;
                        border-bottom-color: #5e5e5e;

                        p {
                            color: #5e5e5e;
                        }
                    }
                }
            }
        }
    }
}
