app-form {
    > form {
        background: #424242;
        padding: 1rem;
        margin-bottom: 1.5rem;

        > h2 {
            color: #ffffff;
        }
    }

    footer {
        display: flex;
        justify-content: end;
        gap: 1rem;
    }
}
