app-form {
    > h2 {
        color: #ffffff;
    }

    > form {
        background: #424242;
        padding: 1rem;
        margin-bottom: 1.5rem;

        border-bottom: 1px solid #e91e63;
        border-radius: 0.25rem 0.25rem 0 0;
    }
}
