<app-form
    [stepLabel]="'Identificação'"
    [formGroup]="_formCache._identification"
>
    <ul>
        <li>
            <mat-form-field appearance="fill">
                <mat-label>Nome</mat-label>

                <input matInput type="text" formControlName="name" />

                <button
                    *ngIf="hasValue(_formCache._identification.value.name)"
                    matSuffix
                    mat-icon-button
                    aria-label="Clear"
                    (click)="clearValue('name')"
                >
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </li>

        <li>
            <mat-form-field appearance="fill">
                <mat-label>E-mail</mat-label>

                <input matInput type="email" formControlName="email" />

                <button
                    *ngIf="hasValue(_formCache._identification.value.email)"
                    matSuffix
                    mat-icon-button
                    aria-label="Clear"
                    (click)="clearValue('email')"
                >
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </li>

        <li>
            <mat-form-field appearance="fill">
                <mat-label>Endereço</mat-label>

                <input matInput type="address" formControlName="address" />

                <button
                    *ngIf="hasValue(_formCache._identification.value.address)"
                    matSuffix
                    mat-icon-button
                    aria-label="Clear"
                    (click)="clearValue('address')"
                >
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </li>
    </ul>
</app-form>

<app-footer
    [actualStep]="actualStep"
    [canContinue]="canContinue"
    [nextRoute]="'/checkout/payment'"
></app-footer>
